// --------------------------------------------------------------------------
//  [ _footer.scss ]
//  › Default layout's footer.
//
// @author Enzo Innocenzi <enzo.inno@gmail.com> @Suderiane
// @created 24/05/2019, 13:06:18
// @edited 24/05/2019, 13:06:18
// --------------------------------------------------------------------------

footer {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: .8em;
    text-align: center;
}
