// --------------------------------------------------------------------------
//  [ _header.scss ]
//  › Default layout's header.
//
// @author Enzo Innocenzi <enzo.inno@gmail.com> @Suderiane
// @created 24/05/2019, 13:06:14
// @edited 24/05/2019, 13:06:14
// --------------------------------------------------------------------------

.navbar {
    background-color: $header-secondary-background;

    button {
        background-color: $header-primary-background;
        color: $header-primary-color;
        border-color: $header-primary-background;

        @include on-event() {
            color: $header-tertiary-color;
        }
    }

    input {
        background-color: $header-primary-background;
        color: $header-primary-color;
        border-color: $header-primary-background;
    }
}
