// --------------------------------------------------------------------------
//  [ _helpers.scss ]
//  › Contains helper classes.
//
// @author Enzo Innocenzi <enzo.inno@gmail.com> @Suderiane
// @created 24/05/2019, 14:11:36
// @edited 24/05/2019, 14:11:36
// --------------------------------------------------------------------------

.op-8 {
    // opacity: 0.8;
    background-color: lighten(#f2f4f8, 2%) !important;
    transition: all ease 200ms;
}

.text-small {
    font-size: 80%;
}

.text-smaller {
    font-size: 65%;
}

.pointer {
    cursor: pointer;
}

@mixin flex($direction: column, $justify: normal, $align: normal) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.flex-center {
    @include flex(column, center, center);
}

.fa-blink {
    -webkit-animation: fa-blink .75s linear infinite;
    -moz-animation: fa-blink .75s linear infinite;
    -ms-animation: fa-blink .75s linear infinite;
    -o-animation: fa-blink .75s linear infinite;
    animation: fa-blink .75s linear infinite;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dropdown-toggle-no-caret:after {
    display: none !important;
}

#notifications>button {
    margin: 0 !important;
    padding: 0 !important;
}

#notifications>ul {
    min-width: 300px;
    max-width: 100%;
}
