// --------------------------------------------------------------------------
//  [ _helpers.scss ]
//  › Contains helper classes.
//
// @author Enzo Innocenzi <enzo.inno@gmail.com> @Suderiane
// @created 24/05/2019, 14:11:36
// @edited 24/05/2019, 14:11:36
// --------------------------------------------------------------------------

.op-8 {
    transition: all ease 200ms;

    background-color: lighten($primary-color, 2%) !important;
}

.text-small {
    font-size: 80%;
}

.text-smaller {
    font-size: 65%;
}

.pointer {
    cursor: pointer;
}

@mixin flex($direction: column, $justify: normal, $align: normal) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.flex-center {
    @include flex(column, center, center);
}

.fa-blink {
    -webkit-animation: fa-blink .75s linear infinite;
    -moz-animation: fa-blink .75s linear infinite;
    -ms-animation: fa-blink .75s linear infinite;
    -o-animation: fa-blink .75s linear infinite;
    animation: fa-blink .75s linear infinite;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dropdown-toggle-no-caret:after {
    display: none !important;
}

.border-b-0 {
    border-bottom-width: 0px;
}