// --------------------------------------------------------------------------
//  [ _typography.scss ]
//  › Contains styles for texts.
//
// @author Enzo Innocenzi <enzo.inno@gmail.com> @Suderiane
// @created 24/05/2019, 14:11:41
// @edited 24/05/2019, 14:11:41
// --------------------------------------------------------------------------


h1,
h2,
.h1,
.h2,
h5,
.h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    // color: #4f545c;

    color: $secondary-color;
}

h5,
.h5 {
    text-transform: uppercase;
    font-size: 12px;
}

a {
    transition: all 250ms ease;
    text-decoration: none;
    text-decoration-color: transparent;
    color: $secondary-color;

    @include on-event {
        transition: all 250ms ease;
        text-decoration: underline;
        text-decoration-color: $tertiary-color;
        color: $info;
    }
}
