.h-100,
.app-down {
    height: 100%;
}

.app-down {
    background-color: #232832;
    color: #D8DEE9;

    a {
        color: #ECEFF4;
    }

    .post {
        border-radius: 4px;
        background-color: #3B4252;
        border-bottom: 0;
    }

    hr {
        border-color: #4C566A;
    }
}

#floating-foursucres {
    * {
        transform: translate(0, 0);
    }

    @for $i from 1 through 8 {
        $duration: (random(1000)+3000);

        #sq-#{$i} {
            animation: float-#{$i} #{$duration}ms ease-in-out infinite;
        }
    }

    $duration: (random(1000)+3000);

    #logo-four {
        animation: float-logo #{$duration}ms ease-in-out infinite;
    }

    $duration: (random(1000)+3000);

    #logo-sucres {
        animation: float-logo #{$duration}ms ease-in-out infinite;
    }
}

@for $i from 1 through 8 {
    @keyframes float-#{$i} {
        0% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(0, -70px);
        }

        100% {
            transform: translate(0, 0);
        }
    }
}

@keyframes float-logo {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -50px);
    }

    100% {
        transform: translate(0, 0);
    }
}
