@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Rubik');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

$body-bg: #F2F4F8;
$body-color: #4C5669;

$tooltip-max-width: 200px !default;
$tooltip-color: $body-color !default;
$tooltip-bg: $body-bg !default;
$tooltip-opacity: .9 !default;

$font-family-sans-serif: 'Inter',
sans-serif;
$headings-font-family: 'Rubik',
sans-serif;

$line-height-base: 1.4;
$font-size-base: 0.9rem;
$primary: #5E81AC;
$light: #ffffff;
$card-border-width: 1px;
$card-default-border: rgba(0, 0, 0, 0);
$card-cap-bg: $body-bg;
$border-color: #dcddde;
$blue: #81A1C1;
$red: #BF616A;
$indigo: #6574cd;
$purple: #B48EAD;
$pink: #f66D9b;
$orange: #D08770;
$yellow: #EBCB8B;
$green: #A3BE8C;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #fbfbfc;
$dark: #3B4252;
$darker: #2E3440;

$container-max-widths: (md: 720px,
    lg: 960px,
    xl: 1340px) !default;

@import '~bootstrap/scss/bootstrap';
@import '_app';

.card-header {
    border: 0;
    font-weight: bold;
}

h1,
h2,
.h1,
.h2,
h5,
.h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #4f545c;
}

h5,
.h5 {
    text-transform: uppercase;
    font-size: 12px;
}

.container-sidebar {
    margin-left: auto;
    width: 180px;
}

.nav-link,
a,
.btn-link {
    color: $body-color;
}

.btn {
    font-size: .9em;
}

hr {
    border-color: darken($light, 5%);
}

.nav-pills .nav-link {
    padding: 0.5rem;
}

.nav-pills .nav-link:hover {
    background-color: $white;
    color: $body-color;
}

.nav-pills .nav-link.active,
.nav-link.active:hover {
    background-color: $white;
    color: $body-color;
}

.navbar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.bg-darker {
    background-color: $darker;
}

.text-darker {
    color: $darker;
}

.card {
    .card-header {
        text-transform: uppercase;
        background-color: auto;
    }
}

.spoiler {
    border-radius: 4px;
    display: inline-block;
    color: darken($light, 10%);
    background-color: darken($light, 10%);
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.spoiler.show {
    cursor: auto;
    color: $body-color;
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

@media (min-width: 1200px) {

    .fw-user,
    .fw-replies,
    .fw-category {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .fw-user {
        width: 200px;
    }

    .fw-replies {
        width: 100px;
    }

    .fw-category {
        width: 150px;
    }
}

.tooltip-inner {
    border: 1px solid $border-color;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.blue {
    background: lighten(#f2f4f8, 2%);
}

.white {
    background: #FFFFFF;
}

.post {
    border-bottom: 1px solid #f2f2f2;
}

.alert-minimalist {
    background-color: #f2f4f8;
    border-color: $border-color;
    color: $body-color;
}

.alert-minimalist>[data-notify="title"] {
    color: $body-color;
}

.btn-darker {
    color: #fff;
    background-color: $darker;
    border-color: $darker;
}

.input-darker {
    color: #fff;
    background-color: $darker;
    border-color: $darker;

    &:focus {
        color: #fff;
        background-color: $darker;
        border-color: lighten($darker, 10%);
    }
}

p {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

blockquote,
.blockquote,
.quote {
    &>& {
        margin-bottom: 0;
    }
}


.bg-discord {
    background-color: #7289DA;
}
