@import '~select2/src/scss/core';
@import '~@ttskch/select2-bootstrap4-theme/src/layout';

.editor-buttons {
    margin-bottom: 10px;
}
.editor-buttons .btn {
    cursor: pointer;
}

.logo-4s {
    width: 125px;
    height: 60px;
    position: relative;
    background: url(/svg/4sucres.svg);
    background-size: cover;
}

// .logo-4s:before
// {
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	background: url(/svg/4sucres.svg);
// 	opacity: .5;
//     mix-blend-mode: hard-light;
//     background-size: cover;
//     animation: glitch .9s linear infinite;
// }

// @keyframes glitch {
// 	0% {
//         background-position: 0 0;
//         // filter: hue-rotate(0deg);
//     }

// 	10% { background-position: 5px 0; }
// 	15% { background-position: -5px 0; }
// 	20% { background-position: 15px 0; }
// 	25% { background-position: -5px 0; }
// 	30% { background-position: -20px 0; }
// 	35% { background-position: -10px 0; }
// 	40% { background-position: 0 0; }
//     45% { background-position: 25px 0; }
//     50% { background-position: -10px 0; }
//     60% { background-position: 5px 0; }
// 	65% { background-position: -5px 0; }
// 	70% { background-position: 5px 0; }
// 	75% { background-position: -10px 0; }
// 	80% { background-position: 20px 0; }
// 	85% { background-position: -30px 0; }
// 	90% { background-position: 0 0; }
//     95% { background-position: 20px 0; }

// 	100% {
//         background-position: 0 0;
//         // filter: hue-rotate(360deg);
// 	}
// }

.account-block {
    color: $white;

    .account-details {
        padding: 10px 15px;
        height: 100%;
    }

    .account-username {
        font-weight: bold;
        a {
            color: $white;
        }
    }

    .account-image {
        padding-left: 10px;
    }

    .account-image>img {
        max-height: 60px;
    }

    a {
        color: lighten($dark, 50%);
    }

    a:hover {
        color: lighten($dark, 60%);
    }
}


.blue {
    background: #f9f9f9;
}

.white {
    background: #fff;
}

.post-content img {
    max-width: 68px;
    max-height: 51px;
    vertical-align: baseline;
}

.post-image {
    height: 50px;
    width: 50px;
}

.pagination {
    justify-content: center;
 }

footer {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: .8em;
    text-align: center;
}

.sidetag {
    position: absolute;
    border-radius: 50%;
    background-color: $light;
    padding: 4px;
    left: -14px;
    border: 1px solid $border-color;
}

.help-block {
    font-size: 80%;
    font-weight: 400;
}