// Body
$body-bg: #f2f2f2;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
$blue: #0288D1;
$indigo: #6574cd;
$purple: #9823D7;
$pink: #f66d9b;
$red: #D32F2F;
$orange: #f6993f;
$yellow: #FBC02D;
$green: #43A047;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #757575;

$dark: #252839;
$darker: #1c1e2b;
$primary: #252839;