@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card, .card-body {
    border-radius: 0;
}

.navbar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.account-block {
    color: $white;

    .account-details {
        padding: 10px 15px;
        height: 100%;
    }

    .account-username {
        font-weight: bold;
    }

    .account-image {
        padding-left: 10px;
    }

    .account-image>img {
        max-height: 60px;
    }

    a {
        color: lighten($dark, 50%);
    }

    a:hover {
        color: lighten($dark, 60%);
    }
}

.bg-darker {
    background-color: $darker;
}

.logo-4s {
    width: 125px;
    height: 60px;
	position: relative;
    background: url(/svg/4sucres.svg);
    background-size: cover;
}

// .logo-4s:before
// {
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	background: url(/svg/4sucres.svg);
// 	opacity: .5;
//     mix-blend-mode: hard-light;
//     background-size: cover;
//     animation: glitch .9s linear infinite;
// }

// @keyframes glitch {
// 	0% {
//         background-position: 0 0;
//         // filter: hue-rotate(0deg);
//     }

// 	10% { background-position: 5px 0; }
// 	15% { background-position: -5px 0; }
// 	20% { background-position: 15px 0; }
// 	25% { background-position: -5px 0; }
// 	30% { background-position: -20px 0; }
// 	35% { background-position: -10px 0; }
// 	40% { background-position: 0 0; }
//     45% { background-position: 25px 0; }
//     50% { background-position: -10px 0; }
//     60% { background-position: 5px 0; }
// 	65% { background-position: -5px 0; }
// 	70% { background-position: 5px 0; }
// 	75% { background-position: -10px 0; }
// 	80% { background-position: 20px 0; }
// 	85% { background-position: -30px 0; }
// 	90% { background-position: 0 0; }
//     95% { background-position: 20px 0; }

// 	100% {
//         background-position: 0 0;
//         // filter: hue-rotate(360deg);
// 	}
// }

.discussion-list {
	display: table;
	list-style-type: none;
	margin: 0;
	background: #FFF;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
	padding: 0;

    .discussion-head {
        background: #fff !important;
        position: relative;
        padding: 5px;
        color: #1f1f1f !important;
        text-transform: uppercase;
        font-weight: bold;
    }

    li {
        display: table-row;
        vertical-align: middle;
        line-height: 2px;

        .discussion-subject {
            position: relative;
        }

        .discussion-icon {
            width: 32px;
            text-align: center;
        }

        .discussion-title {
            position: relative;
        }

        .discussion-user {
            width: 100px;
            text-decoration: none;
            text-align: center;
        }

        .discussion-nb {
            width: 60px;
            text-align: center;
        }

        .discussion-nb .new-msg {
            font-weight: bold;
            color: #F44336;
            display: inline-block;
        }

        .discussion-date {
            width: 90px;
            text-align: center;
        }

        .discussion-title {
            display: block;
            margin-left: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 25px;
        }

        .discussion-title:visited, .discussion-title:visited a {
            color: $gray;
        }

        .discussion-user, .discussion-user a{
            color: $body-color;
        }

        .discussion-user:hover, .discussion-user a:hover {
            color: $body-color;
        }

        .discussion-user:visited, .discussion-user a:visited {
            color: $body-color;
        }

        .discussion-title,
        .discussion-user,
        .discussion-nb,
        .discussion-view,
        .discussion-date,
        .discussion-icon {
            display: table-cell;
            padding: 1px;
            line-height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.blue {
	background: #f9f9f9;
}

.white {
	background: #fff;
}

.post-content img {
    max-width: 68px;
    max-height: 51px;
    vertical-align: baseline;
}

.post-image {
    height: 50px;
    width: 50px;
}