// --------------------------------------------------------------------------
//  [ index.scss ]
//  › Main import file.
//
// @author Enzo Innocenzi <enzo.inno@gmail.com> @Suderiane
// @created 24/05/2019, 13:09:58
// @edited 24/05/2019, 13:09:58
// --------------------------------------------------------------------------

// Utilities
@import 'abstract/functions';
@import 'abstract/mixins';
@import 'abstract/variables';

// Themes & Layouts
@import 'layouts/default';
@import 'themes/dark';

// Base
@import 'base/base';
@import 'base/helpers';
@import 'base/fonts';
@import 'base/typography';

// Vendors
@import 'vendors';

// Pages
@import 'pages/503';

// Components & Overrides
@import 'components';
@import 'overrides';


.custom-file-label,
.form-control,
.form-control:focus,
.custom-file-label::after {
    color: #fff;
    background-color: #2E3440;
    border-color: #2E3440;
}

.custom-file-label::after {
    background-color: lighten(#2E3440, 5%);
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #FFF;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #FFF;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #FFF;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #FFF;
}
