.account-block {
    color: $header-primary-color;

    .account-details {
        padding: 10px 15px;
        height: 100%;
        background-color: $header-primary-background;
    }

    .account-username {
        font-weight: bold;

        a {
            color: $header-primary-color;
        }
    }

    .account-image {
        padding-left: 10px;
    }

    .account-image>img {
        max-height: 60px;
    }

    a {
        color: $header-secondary-color;

        &:hover {
            color: $header-tertiary-color;
        }
    }
}