.alert-minimalist {
    border-radius: 3px;
    padding: 10px;
}

.alert-minimalist>[data-notify="icon"] {
    height: 50px;
    margin-right: 12px;
}

.alert-minimalist>[data-notify="title"] {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.alert-minimalist>[data-notify="message"] {
    font-size: 80%;
}
