.alert-minimalist {
  border-radius: 3px;
  padding: 10px;

  > [data-notify='icon'] {
    height: 50px;
    margin-right: 12px;
  }

  > [data-notify='title'] {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  > [data-notify='message'] {
    font-size: 80%;
  }
}

.alert {
  // background-color: $tertiary-background;
  // color: $primary-color;
  // border-color: $border-color;
}
