.textcomplete-dropdown {
    padding: 0;
    background-color: $secondary-background;

    .textcomplete-item {
        background-color: $secondary-background;
        padding: 0.5rem 1rem;
        cursor: pointer;

        &.active {
            background-color: $tertiary-background;
        }

        &:hover {
            background-color: $quaternary-background;
        }
    }
}
