.badge {

    &.badge-full-height {
        line-height: normal;
    }

    &.badge-op {
        color: darken($warning, 35%);
        background-color: $warning;
    }
}


.fa-stack>.badge {
    position: relative;
    right: -13px;
    // bottom: -4px;
}