.btn {
    font-size: .9em;

    @if variable-exists(btn-color) {
        &.btn-primary {
            background-color: $primary !important;
        }
        @include on-event($self: true) {
            color: $primary-color;
        }
    }

    &.btn-link {
        color: $primary-color;
    }

    &.btn-outline-secondary {
        color: $primary-color;
    }
}
