.card {

    .card-header {
        text-transform: uppercase;
        background-color: auto;
        border: 0;
        font-weight: bold;
        background: $secondary-background;
        color: $primary-color;
    }

    hr {
        border-color: $tertiary-background;
    }
}