.card {
    background-color: $primary-background;
    color: $primary-color;

    .card-header {
        text-transform: uppercase;
        border: 0;
        font-weight: bold;
        background-color: $secondary-background;
        color: $primary-color;
    }

    .card-footer {
        border: 0;
        background-color: $secondary-background;
        color: $primary-color;
    }

    hr {
        border-color: $border-color;
    }

    pre {
        color: $secondary-color;
    }
}
