.console {
    font-family: monospace;

    .content,
    .prompt,
    .form-control {
        color: #FFFFFF;
        border-radius: 10px;
    }

    .content {
        padding: 10px;
        background-color: $console-bg;
        height: 600px;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        overflow: auto;
        overflow-x: hidden;
        position: relative;
        line-height: 15px;

        a {
            color: #929db3 !important;
            text-decoration: underline;
        }
    }

    .output {
        // margin-bottom: 10px;
    }

    .loading-indicator {
        display: inline;
        position: absolute;
        right: 23px;
        bottom: 7px;
    }

    .form-control {
        border: 0;
        border-top: 1px solid #3F5770;
        background-color: lighten($console-bg, 5%);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
