section.thread {
  .post-container {
    // Even and odd posts
    &:nth-child(odd) {
      background-color: $thread-secondary-background;
      color: $thread-secondary-color;

      .post {
        .quote,
        blockquote {
          background-color: $thread-secondary-background;
        }

        &:target {
          background-color: $thread-secondary-background;
          border: 1px solid $tertiary-background;
        }

        &.highlight {
          background-color: $thread-secondary-background;
          border: 1px solid $border-color;
        }

        :not(blockquote) > hr {
          border-color: $thread-tertiary-background;
        }

        border-bottom: 1px solid $tertiary-background;
      }
    }

    &:nth-child(even) {
      background-color: $thread-primary-background;
      color: $thread-secondary-color;

      .post {
        .quote,
        blockquote {
          background-color: $thread-primary-background;
        }

        &:target {
          background-color: $thread-secondary-background;
          border: 1px solid $tertiary-background;
        }

        &.highlight {
          background-color: $thread-secondary-background;
          border: 1px solid $border-color;
        }

        :not(blockquote) > hr {
          border-color: $thread-secondary-background;
        }

        border-bottom: 1px solid darken($secondary-background, 2.5%);
      }
    }

    // Post
    .post {
      transition: all ease 200ms;

      // Selected post
      &:target {
        transform: scale(1.02);
        border-radius: 5px;

        box-shadow: 0 0.125rem 0.25rem rgba(black, 0.075) !important;
        border: 1px solid $border-color;
      }

      .post-content {
        img {
          max-width: 300px;
          max-height: 200px;
          vertical-align: baseline;
        }

        a {
          color: $thread-link-color;
        }
      }

      .post-image {
        height: 42px;
        width: 42px;
      }

      .action-buttons {
        a {
          color: $thread-tertiary-color;

          @include on-event() {
            color: darken($tertiary-color, 20%);
          }
        }
      }
    }
  }
}

section.thread-response {
  background-color: $thread-secondary-background;
  border-color: $thread-border-color;
}

section.thread-previews {
  .thread-preview {
    cursor: pointer;
    transition: all 250ms ease;

    &:nth-child(odd) {
      background-color: $thread-primary-background;
      color: $thread-secondary-color;

      @include on-event() {
        background-color: $thread-tertiary-background;
      }
    }

    &:nth-child(even) {
      background-color: $thread-secondary-background;
      color: $thread-secondary-color;

      @include on-event() {
        background-color: $thread-tertiary-background;
      }
    }
  }
}
