// Toolbar buttons
.editor-buttons {
    button {
        margin-right: 5px;
        cursor: pointer;

        color: $editor-primary-color;
        background-color: $editor-tertiary-background;
        border: 1px solid $editor-tertiary-border;

        &:hover {
            background-color: $editor-secondary-background;
            color: $editor-primary-color;
        }

        &.active {
            background-color: $editor-primary-background !important;
        }
    }

    background-color: shade($editor-secondary-background, 1.5%) !important;
    border: 1px solid $editor-primary-border;
}

// Primary toolbar
.editor-buttons {
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
}

.editor-textarea {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: $editor-primary-color !important;
    background-color: $editor-primary-background;
    border-color: $editor-primary-border;
    border-top: none;
}
