.emoji {
  display: inline-block;
  width: 28px !important;
  height: 28px !important;
  line-height: 28px;
  text-align: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2px 0 2px 4px;
  vertical-align: middle;

  &.emoji-sm {
    width: 1.45em !important;
    height: 1.45em !important;
    margin-left: 0.05em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
  }

  &.emoji-lg {
    width: 2rem !important;
    height: 2rem !important;
    margin-bottom: 0;
    margin-top: 0.2em;
    vertical-align: -0.3em;
  }
}
