// .btn-darker {
//     color: #fff;
//     background-color: $darker;
//     border-color: $darker;
// }

// .input-darker {
//     color: #fff;
//     background-color: $darker;
//     border-color: $darker;

//     &:focus {
//         color: #fff;
//         background-color: $darker;
//         border-color: lighten($darker, 10%);
//     }
// }

input, .form-control {
    color: $primary-color;
    background: $secondary-background;
    border-color: $tertiary-background;

    @include on-event() {
        color: $primary-color;
        background: $secondary-background;
        border-color: $quaternary-background;
    }

    &.input-secondary {
        color: $primary-color !important;
        background: $primary-background;
        border-color: $secondary-background;
    
        @include on-event() {
            color: $primary-color;
            background: $primary-background;
            border-color: $tertiary-background;
        }
    }

    // TODO - move
    &.input-header {
        color: $header-primary-color !important;
        background: $header-primary-background;
        // border: 1px solid;
        border-color: $header-primary-background;
    
        @include on-event() {
            color: $header-primary-color;
            background: $header-primary-background;
            border-color: $header-tertiary-background;
        }
    }
}