

.navbar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.nav-pills {

    .nav-link {
        padding: 0.5rem;
        color: $primary-color;
        background: $primary-background;

        &.active {
            color: $primary-color;
            background: $primary-background;
        }

        @include on-event() {
            color: $primary-color;
            background: $quaternary-background;
        }
    }
}