.notification {
    .notification-background {
        color: $header-primary-background;
    }

    .notification-counter {
        color: $header-primary-color;
    }

    .notification-icon {
        transition: all 200ms ease;
        color: $header-primary-color;
    }

    &:hover {
        .notification-icon {
            color: $header-tertiary-color;
        }
    }
}

#notifications {
    >button {
        margin: 0 !important;
        padding: 0 !important;
    }

    >ul {
        padding: 0;
        min-width: 300px;
        max-width: 100%;
        background-color: $discussion-primary-background;
        color: $body-color;

        .notification-item {
            cursor: pointer;
            transition: all 250ms ease;

            small {
                padding: 0 .75em;
            }

            .notification-content {
                padding: .5em;
            }

            &:nth-child(odd) {
                background-color: $discussion-primary-background;
                color: $discussion-secondary-color;

                @include on-event() {
                    background-color: $discussion-tertiary-background;
                }
            }

            &:nth-child(even) {
                background-color: $discussion-secondary-background;
                color: $discussion-secondary-color;

                @include on-event() {
                    background-color: $discussion-tertiary-background;
                }
            }
        }
    }
}
