.notification {

    .notification-background {
        color: $header-primary-background;
    }

    .notification-counter {
        color: $header-primary-color;
    }

    .notification-icon {
        transition: all 200ms ease;
        color: $header-primary-color;
    }

    &:hover {
        .notification-icon {
            color: $header-tertiary-color;
        }
    }
}

#notifications {
    > button {
        margin: 0 !important;
        padding: 0 !important;
    }

    > ul {
        padding: 0;
        min-width: 300px;
        max-width: 100%;
        background-color: $header-primary-background;
        color: $header-primary-background;

        .notification-item {
            cursor: pointer;

            .notification-content {
                color: $header-primary-color;
                padding: .5em;
            }

            small {
                padding: 0 .75em;
            }

            &:hover {
                transition: all 200ms ease;
                background-color: $header-secondary-background;
            }
        }
    }
}