.post {
    border-bottom: 1px solid $border-color;
}

.post:target {
    transform: scale(1.02);
    border: 1px solid $border-color;
    background-color: #f2f4f8;
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.post-content {
    img {
        max-width: 300px;
        max-height: 200px;
        vertical-align: baseline;
    }

    a {
        color: $primary;
    }
}

.post-image {
    height: 50px;
    width: 50px;
}
