blockquote {
    padding: 0.65rem;
    background-color: $secondary-background;
    border: 1px solid $border-color;
    border-radius: 5px;
}

blockquote,
.blockquote,
.quote {
    & > & {
        margin-bottom: 0;
    }
}