



.select2-dropdown {
    background: $secondary-background;
    color: $primary-color;
    border-color: $tertiary-background !important;

    .select2-results {
        background: $secondary-background;
        color: $primary-color;

        .select2-results__option {
            background: $secondary-background;
            color: $primary-color;

            @include on-event() {
                background: $tertiary-background;
            }
        }

        .select2-results__option--highlighted,
        .select2-results__option[aria-selected=true] {
            background: $quaternary-background;
            color: $primary-color;
        }
    }
}

.select2-container {
    color: $primary-color;
    border-color: $tertiary-background;
    // background: transparent !important;
    border-radius: $border-radius;
}

.select2-selection--single {
    
    .select2-selection__arrow {
        b {
            border-color: $primary-color transparent transparent transparent !important;
        }
    }
}


// Good

.select2-container {
    background-color: $input-bg;
    color: $input-color;
    border-color: $input-border-color;

    &.select2-container--focus {
        .select2-selection {
            border-color: lighten($input-border-color, 2.5%) !important;
        }
    }
    
    .select2-selection {
        background-color: $input-bg;
        color: $input-color;
        border-color: $input-border-color;

        .select2-selection__rendered {
            border-color: $input-border-color;
        
            .select2-selection__choice {
                color: $primary-color !important;
                border-color: $primary-background !important;
                background: $primary-background !important;
            }

            .select2-search {
        
                .select2-search__field {
                    background-color: $tertiary-background;
                    color: $primary-color;
                    border-color: $tertiary-background;
                }
            }
        }
    }
}