.spoiler {
    position: relative;
    display: inline-block;
}

.spoiler::after {
    position: absolute;
    inset: 0;
    content: '';
    border-radius: 4px;
    background-color: $spoiler-background !important;
    cursor: pointer;
    user-select: none;
}
