.sticker-inline {
    max-height: 24px !important;
    vertical-align: middle !important;
}

.sticker {
    max-width: 68px !important;
    max-height: 51px !important;
    vertical-align: baseline !important;
}
