.sticker-inline {
    max-height: 20px !important;
    vertical-align: baseline !important;
}

.sticker {
    max-width: 68px !important;
    max-height: 51px !important;
    vertical-align: baseline !important;
}
