@import 'integration';
@import 'carousel';
@import 'emoji';
@import 'alert';
@import 'sticker';
@import 'account-block';
@import 'editor';
@import 'spoiler';
@import 'badge';
@import 'autocomplete';
@import 'discussion';
@import 'card';
@import 'navbar';
@import 'button';
@import 'notification';
@import 'input';
@import 'select';

.sidetag {
    position: absolute;
    border-radius: 50%;
    background-color: $light;
    padding: 4px;
    left: -14px;
    border: 1px solid $border-color;
}
 