// -------------------------------------------------------------------------- 
//  [ _theme.scss ]
//  › Defines theme variables.
// 
// @author Enzo Innocenzi <enzo.inno@gmail.com>
// @created 31/05/2019, 10:58:30
// @edited 31/05/2019, 10:58:30
// -------------------------------------------------------------------------- 

// ---- [ Palette ] ---------------------------------------------------------

@import '~nord/src/sass/nord.scss';

$primary-background:    $nord0;
$secondary-background:  $nord1;
$tertiary-background:   $nord2;
$quaternary-background: $nord3;

$primary-color:         $nord6;
$secondary-color:       $nord5;
$tertiary-color:        $nord4;
$quaternary-color:      lighten($nord4, 5%);

$danger-color:          $nord12;
$warning-color:         $nord13;
$success-color:         $nord14;
$info-color:            $nord9;


// ---- [ Bootstrap colors ] -----------------------------------------------

$blue:  #81a1c1;
$red:   #BF616A;
$indigo:#6574cd;
$purple: #B48EAD;
$pink: #f66D9b;
$orange: rgb(129, 82, 67);
$yellow: #EBCB8B;
$green: #A3BE8C;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #fbfbfc;

$primary:       #5f82aa;
$secondary:     $secondary-background;

$body-bg:       $primary-background;
$body-color:    $primary-color;
$border-color:  darken($secondary-background, 1.25%);

$danger:        #bc5f6a;    
$warning:       $nord13;
$success:       $nord14;
$info:          $nord9;

// ---- [ Pagination ] --------------------------------------------------

$pagination-color:                  $primary-color;
$pagination-bg:                     $secondary-background;
$pagination-border-color:           $border-color;

$pagination-focus-box-shadow:       none;
$pagination-focus-outline:          0 !important;

$pagination-hover-color:            $secondary-color;
$pagination-hover-bg:               $secondary-background;
$pagination-hover-border-color:     $border-color;

$pagination-active-color:           $secondary-color;
$pagination-active-bg:              $tertiary-background;
$pagination-active-border-color:    $border-color;

$pagination-disabled-color:         $tertiary-color;
$pagination-disabled-bg:            $secondary-background;
$pagination-disabled-border-color:  $border-color;

// ---- [ Inputs ] --------------------------------------------------------

$input-btn-focus-color:       $primary-color;
$input-btn-focus-box-shadow:  none; //0 0 0 $input-btn-focus-width $input-btn-focus-color;

$input-bg:                    $tertiary-background;
$input-disabled-bg:           $quaternary-background;

$input-color:                 $primary-color;
$input-border-color:          $border-color;
$input-box-shadow:            none; //inset 0 1px 1px rgba($black, .075);

$input-focus-bg:              $input-bg;
$input-focus-border-color:    lighten($border-color, 25%);
$input-focus-color:           $input-color;
$input-focus-box-shadow:      $input-btn-focus-box-shadow;

$custom-file-color:           $input-color;
$custom-file-bg:              $input-bg;
$custom-file-border-color:    $input-border-color;
$custom-file-box-shadow:      $input-box-shadow;
$custom-file-button-color:    $input-color;
$custom-file-button-bg:       $input-bg;

// ---- [ Discussions ] ----------------------------------------------------

$discussion-primary-background:     $secondary-background;
$discussion-secondary-background:   $tertiary-background;
$discussion-tertiary-background:    $quaternary-background;
$discussion-quaternary-background:  lighten($quaternary-background, 2.5%);

$discussion-primary-color:          $primary-color;
$discussion-secondary-color:        $secondary-color;
$discussion-tertiary-color:         $tertiary-color;
$discussion-quaternary-color:       lighten($tertiary-color, 5%);

$discussion-border-color:           $border-color;

// ---- [ Tooltips ] -------------------------------------------------------

$tooltip-color: $body-color;
$tooltip-bg:    $body-bg;

// ---- [ Card ] -----------------------------------------------------------

$card-cap-bg:   $body-bg ;
$card-bg:       $primary-background;


// ---- [ Header ] ---------------------------------------------------------

$header-primary-background:     $nord0;
$header-secondary-background:   $nord1;
$header-tertiary-background:    $nord2;
$header-quaternary-background:  $nord3;

$header-primary-color:          $nord6;
$header-secondary-color:        $nord5;
$header-tertiary-color:         $nord4;


// ---- [ Editor ] ---------------------------------------------------------

$editor-primary-background:    $nord0;
$editor-secondary-background:  $nord1;
$editor-tertiary-background:   $nord2;
$editor-quaternary-background: $nord3;

$editor-primary-color:         $nord6;
$editor-secondary-color:       $nord5;
$editor-tertiary-color:        $nord4;

$editor-primary-border:         $primary-background;
$editor-secondary-border:       $secondary-background;
$editor-tertiary-border:        $tertiary-background;
