/*
 |--------------------------------------------------------------------------
 | Components
 |--------------------------------------------------------------------------
 |
 | You can define or import components in this file. You can learn
 | how to build Tailwind components here: 
 | https://tailwindcss.com/components/
 |
 */

@import './components/navigation';
@import './components/n-progress';
@import './components/tooltip';
