.bg-blue {
    @include themify() {
        background-color: $blue;
    }
}

.bg-red {
    @include themify() {
        background-color: $red;
    }
}

.bg-indigo {
    @include themify() {
        background-color: $indigo;
    }
}

.bg-purple {
    @include themify() {
        background-color: $purple;
    }
}

.bg-pink {
    @include themify() {
        background-color: $pink;
    }
}

.bg-orange {
    @include themify() {
        background-color: $orange;
    }
}

.bg-yellow {
    @include themify() {
        background-color: $yellow;
    }
}

.bg-green {
    @include themify() {
        background-color: $green;
    }
}

.bg-teal {
    @include themify() {
        background-color: $teal;
    }
}

.bg-cyan {
    @include themify() {
        background-color: $cyan;
    }
}

.bg-youtube {
    @include themify() {
        background-color: $youtube-color;
    }
}

.bg-discord {
    @include themify() {
        background-color: $discord-color;
    }
}

.bg-twitch {
    @include themify() {
        background-color: $twitch-color;
    }
}
