.text-blue {
    @include themify() {
        color: $blue;
    }
}

.text-red {
    @include themify() {
        color: $red;
    }
}

.text-indigo {
    @include themify() {
        color: $indigo;
    }
}

.text-purple {
    @include themify() {
        color: $purple;
    }
}

.text-pink {
    @include themify() {
        color: $pink;
    }
}

.text-orange {
    @include themify() {
        color: $orange;
    }
}

.text-green {
    @include themify() {
        color: $green;
    }
}

.text-twitch {
    @include themify() {
        color: $twitch-color;
    }
}

.text-discord {
    @include themify() {
        color: $discord-color;
    }
}

.text-youtube {
    @include themify() {
        color: $youtube-color;
    }
}

.text-teal {
    @include themify() {
        color: $teal;
    }
}

.text-cyan {
    @include themify() {
        color: $cyan;
    }
}

.text-yellow {
    @include themify() {
        color: $yellow;
    }
}
