@each $theme,
$colors in $themes {

    @each $color,
    $value in $colors {

        @if (ends-with($color, '-color')) {
            .text-#{trim-end($color, '-color')} {
                @include themify() {
                    color: $value !important;
                }
            }

            .bg-#{trim-end($color, '-color')}-text {
                @include themify() {
                    background-color: $value !important;
                }
            }
        }

        @if (ends-with($color, '-background')) {
            .bg-#{trim-end($color, '-background')} {
                @include themify() {
                    background-color: $value !important;
                }
            }

            .textost {
                color: red;
            }

            .text-#{trim-end($color, '-background')}-bg {
                @include themify() {
                    color: $value !important;
                }
            }
        }

        .border-#{$color} {
            @include themify() {
                border: 1px solid $value !important;
            }
        }
    }
}
