$discord: #7289da;
$twitch: #6441a4;
$youtube: #cc0000;

.text-blue {
    color: $blue;
}

.bg-blue {
    background-color: $blue;
}

.text-red {
    color: $red;
}

.bg-red {
    background-color: $red;
}

.text-indigo {
    color: $indigo;
}

.bg-indigo {
    background-color: $indigo;
}

.text-purple {
    color: $purple;
}

.bg-purple {
    background-color: $purple;
}

.text-pink {
    color: $pink;
}

.bg-pink {
    background-color: $pink;
}

.text-orange {
    color: $orange;
}

.bg-orange {
    background-color: $orange;
}

.text-yellow {
    color: $yellow;
}

.bg-yellow {
    background-color: $yellow;
}

.text-green {
    color: $green;
}

.bg-green {
    background-color: $green;
}

.text-teal {
    color: $teal;
}

.bg-teal {
    background-color: $teal;
}

.text-cyan {
    color: $cyan;
}

.bg-cyan {
    background-color: $cyan;
}

.text-gray {
    color: $gray;
}

.bg-gray {
    background-color: $gray;
}

.text-darker {
    color: $darker;
}

.bg-darker {
    background-color: $darker;
}

.text-youtube {
    color: $youtube;
}

.bg-youtube {
    background-color: $youtube;
}

.text-discord {
    color: $discord;
}

.bg-discord {
    background-color: $discord;
}

.text-twitch {
    color: $twitch;
}

.bg-twitch {
    background-color: $twitch;
}
