@import 'colors';

.card-header {
    border: 0;
    font-weight: bold;
}

.container-sidebar {
    margin-left: auto;
    width: 180px;
}

.nav-link,
a,
.btn-link {
    color: $body-color;
}

.btn {
    font-size: .9em;
}

hr {
    border-color: $border-color;
}

.nav-pills .nav-link {
    padding: 0.5rem;
}

.nav-pills .nav-link:hover {
    background-color: $active-color;
    color: $body-color;
}

.nav-pills .nav-link.active,
.nav-link.active:hover {
    background-color: $active-color;
    color: $body-color;
}

.navbar {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.card {
    border-color: $border-color;

    .card-header {
        text-transform: uppercase;
        background-color: auto;
    }
}

@media (min-width: 1200px) {

    .fw-user,
    .fw-replies,
    .fw-category {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .fw-user {
        width: 200px;
    }

    .fw-replies {
        width: 100px;
    }

    .fw-category {
        width: 150px;
    }
}

.tooltip-inner {
    border: 1px solid $border-color;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.blue {
    background: $even;
}

.white {
    background: $odd;
}

.alert-minimalist {
    background-color: #f2f4f8;
    border-color: $border-color;
    color: $body-color;
}

.alert-minimalist>[data-notify="title"] {
    color: $body-color;
}

.btn-darker {
    color: #fff;
    background-color: $darker;
    border-color: $darker;
}

.input-darker {
    color: #fff;
    background-color: $darker;
    border-color: $darker;

    &:focus {
        color: #fff;
        background-color: $darker;
        border-color: lighten($darker, 10%);
    }
}

p {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}

blockquote,
.blockquote,
.quote {
    &>& {
        margin-bottom: 0;
    }
}

.bg-discord {
    background-color: #7289DA;
}

@keyframes fa-blink {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 0;
    }
}



.fa-stack>.badge {
    position: relative;
    right: -13px;
    bottom: -4px;
}

.help-block {
    font-size: 80%;
    font-weight: 400;
}


.textcomplete-dropdown {
    padding: 0;

    .textcomplete-item {
        padding: 0.5rem 1rem;
        cursor: pointer;

        &.active {
            background-color: rgba($body-color, .1);
        }

        &:hover {
            background-color: rgba($body-color, .15);
        }
    }
}

.tooltip-inner {
    max-width: 100%;
    width: 100%;
}

.tooltip {
    pointer-events: none;
}

.popover {
    pointer-events: none;
}

.shadow {
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}

.card {
    background-color: $card-bg;
    border-radius: 0;
}

.badge-primary {
    color: $white !important;

    a {
        color: $white !important;
    }
}

.pagination {
    justify-content: center;
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}

blockquote {
    padding: 0.5rem;
    border-radius: 5px;
    border-color: $border-color;
    background-color: $body-bg;
}

@include media-breakpoint-up(lg) {
    .col-lg-fixed {
        flex: 0 0 auto;

        &.last-activity {
            width: 175px;
        }

        &.replies-counter {
            width: 85px;
        }

        &.category {
            width: 120px;
        }
    }
}

@include media-breakpoint-up(xl) {
    .col-lg-fixed {
        &.last-activity {
            width: 175px;
        }

        &.replies-counter {
            width: 85px;
        }

        &.category {
            width: 120px;
        }
    }
}

.hover-accent:hover {
    background-color: $active-color;
}

h1,
h2,
.h1,
.h2,
h5,
.h5 {
    color: $headings-color;
}
