// --------------------------------------------------------------------------
//  [ _variables.scss ]
//  › Global variables.
//
// @author Enzo Innocenzi <enzo.inno@gmail.com> @Suderiane
// @created 24/05/2019, 13:05:35
// @edited 24/05/2019, 13:05:35
// --------------------------------------------------------------------------

$line-height-base: 1.4;
$font-size-base: 0.9rem;
$card-border-width: 1px;

$tooltip-max-width: 200px !default;
$tooltip-opacity: .9 !default;

$card-default-border: transparent;

$font-family-sans-serif: 'Inter',
sans-serif;
$headings-font-family: 'Rubik',
sans-serif;

$container-max-widths: (md: 720px,
    lg: 960px,
    xl: 1340px);
