
$u-backgrounds: (
    'primary': $primary-background,
    'secondary': $secondary-background,
    'tertiary': $tertiary-background,
    'quaternary': $quaternary-background
);

$u-colors: (
    'primary': $primary-color,
    'secondary': $secondary-color,
    'tertiary': $tertiary-color,
    'quaternary': $quaternary-color
);


// ---- [ Backgrounds ] -----------------------------------------------

@each $name, $color in $u-backgrounds {
    .bg-theme-#{$name} {
        background-color: $color !important;
    }
    .text-theme-#{$name}-bg {
        color: $color !important;
    }
    .border-theme-#{$name}-bg {
        border-color: $color !important;
    }
}

// ---- [ Colors ] ----------------------------------------------------

@each $name, $color in $u-colors {
    .bg-theme-#{$name}-text {
        background-color: $color !important;
    }
    .text-theme-#{$name} {
        color: $color !important;
    }
    .border-theme-#{$name}-text {
        border-color: $color !important;
    }
}