div.text-small.overflow-ellipsis:not(.col-lg-fixed),
.owl-carousel {
  display: none !important;
}

.navbar {
  .account-block .account-details {
    padding: 8px 15px;
    border-radius: 0 !important;
  }
}

.account-block .account-image > img {
  max-height: 57px;
  border-radius: 0 !important;
}

.post-image {
  width: 50px !important;
}

@include media-breakpoint-up(lg) {
  .navbar {
    height: 57px;
  }
}

@include media-breakpoint-up(xl) {
  .thread-previews {
    .btn {
      padding: 5px !important;
      border-radius: 0 !important;
      border: 0 !important;
    }

    .p-3 {
      padding: 5px !important;
    }

    img.rounded {
      max-width: 32px !important;
      border-radius: 0 !important;
    }

    .p-3 {
      padding: 0px !important;
    }

    .col-lg-fixed.last-activity {
      width: 250px;

      .d-none.d-lg-block.mb-lg-1 {
        width: 70px !important;
      }
    }

    .d-lg-block {
      display: inline-block !important;
    }
  }
}
